/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  width: 80%;
  margin: 0 auto;
}

h2 {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
  border-bottom: 1px solid #a3a3a3;
  margin-bottom: 30px;
}
