$headerBackground:url(../img/header_background_v2.jpg) no-repeat;
$mainBackgroundColor: #efefef;
$buttonTextColor: #fff;
$fontStyle: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$articleBackgroundColor: #fff;
$buttonBackground: #0401AC;
$headerTextColor: #FF5722;
$borderColor: #fff;
$adminColor: #757575;
$fontSizeHeadings:26px;
$fontSizeContent:18px;
$articleTextColor: #757575;
$headingsAndForm: #607d8b;