$headerBackground: url(../img/header_background_v1.jpg) no-repeat;
$mainBackgroundColor: #fff;
$buttonTextColor: #fff;
$articleBackgroundColor: #EFEFEF;
$fontStyle: Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
$buttonBackground: #01ACAC;
$headerTextColor: #ECECEC;
$articleTextColor: #010F16;
$borderColor: #607d8b;
$adminColor: #ea0303;
$fontSizeHeadings: 24px;
$fontSizeContent: 15px;
$headingsAndForm: #0097a7;