<header>
  <h2>Edit employee details</h2>
</header>

<div class="card">
  <div>
    <span class="label">First name:</span>
    <input type="text" name="name" [(ngModel)]="employee.name" />
  </div>
  <div>
    <span class="label">Last name:</span>
    <input type="text" name="name" [(ngModel)]="employee.surname" />
  </div>
  <div>
    <span class="label">City:</span>
    <input type="text" name="name" [(ngModel)]="employee.city" />
  </div>
  <div>
    <span class="label">Gender:</span>
    <span class="content" [textContent]="employee.gender"></span>
    <input
      type="radio"
      value="Male"
      [(ngModel)]="this.employee.gender"
      name="gender"
      required
      #gender="ngModel"
    />
    Male
    <input
      type="radio"
      value="Female"
      [(ngModel)]="this.employee.gender"
      name="gender"
      required
      #gender="ngModel"
    />
    Female
    <input
      type="radio"
      value="Not disclosed"
      [(ngModel)]="this.employee.gender"
      name="gender"
      required
      #gender="ngModel"
    />
    Not disclosed
  </div>
  <div>
    <span class="label">Age:</span>
    <input type="range" [(ngModel)]="this.employee.age" min="16" max="99" />
    <span class="content" [textContent]="this.employee.age"></span>
  </div>
  <div>
    <span class="label">About employee:</span>
    <textarea [(ngModel)]="this.employee.summary"></textarea>
  </div>
</div>

<button (click)="save()">
  <img src="/assets/save.png" />
</button>
